body {
  background-color: black;
  color: whitesmoke;
  font-variant: small-caps;
  margin: auto;
  width: 100%;
  text-align: center;
}

.color-card-display {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.color-card {
  width: 10rem;
  height: 20rem;
  border: 0.1rem solid white;
}

input {
  color: black;
}
