body {
  background-color: black;
  color: whitesmoke;
  font-variant: small-caps;
  margin: auto;
  width: 100%;
  text-align: center;
}

.color-card-display {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.color-card {
  width: 10rem;
  height: 20rem;
  border: 0.1rem solid white;
}

input {
  color: black;
}

.dropdown-btn {
  background-color: rgb(177, 121, 121);
  color: white;
  /* padding: 1rem; */
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.dropdown-btn:hover,
.dropdown-btn:focus {
  background-color: crimson;
}

.project-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-projects {
  padding: 0;
  display: none;
  position: absolute;
  background-color: aqua;
  width: 100%;
  overflow: auto;
  z-index: 1;
  margin: 0;
}

.dropdown-projects li {
  color: black;
  width: 100%;
  text-decoration: none;
  display: block;
}

.project-dropdown li:hover {
  background-color: darkgoldenrod;
}

.show {
  display: block;
}

ul {
  list-style-type: none;
}
